[Unit]
Description=RunUO
After=network.target

[Service]
Type=simple
User=this
WorkingDirectory=/var/opt/project-era-uo
ExecStart=/usr/bin/sudo /usr/bin/mono /var/opt/project-era-uo/RunUO/RunUO.exe
ExecStop=/bin/echo "Stopping ..."
Restart=on-abort

[Install]
WantedBy=multi-user.target
